#!/usr/bin/env python
PACKAGE = "vision_pkg"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

size_enum = gen.enum([ gen.const("MORPH_ERODE",      int_t, 0, "0"),
					   gen.const("MORPH_DILATE",     int_t, 1, "1"),
					   gen.const("MORPH_OPEN",     int_t, 2, "2"),
					   gen.const("MORPH_CLOSE",     int_t, 3, "3"),
					   gen.const("MORPH_GRADIENT",     int_t, 4, "4"),
					   gen.const("MORPH_TOPHAT",      int_t, 5, "5"),
					   gen.const("MORPH_BLACKHAT",      int_t, 6, "6"),
					   gen.const("MORPH_HITMISS",      int_t, 7, "7")],
					   "An enum to set morph type")

gen.add("morph_iterations",int_t, 0, "morph_iterations", 1,1, 10)
gen.add("morph_type", int_t, 0, "morph_type", 3, 0, 7, edit_method=size_enum)
gen.add("morph_size", int_t, 0, "morph_size", 1, 0, 4)


gen.add("lower_hsv_h",int_t, 0, "lower_hsv_h", 0,0, 180)
gen.add("lower_hsv_s",int_t, 0, "lower_hsv_s", 0,0, 255)
gen.add("lower_hsv_v",int_t, 0, "lower_hsv_v", 36,0, 255)
gen.add("upper_hsv_h",int_t, 0, "upper_hsv_h", 180,0, 180)
gen.add("upper_hsv_s",int_t, 0, "upper_hsv_s", 36,0, 255)
gen.add("upper_hsv_v",int_t, 0, "upper_hsv_v", 255,0, 255)
gen.add("tl_x",int_t, 0, "tl_x", 0,0, 320)
gen.add("tl_y",int_t, 0, "tl_y", 50,0, 240)
gen.add("rect_width",int_t, 0, "rect_width", 320,0, 320)
gen.add("rect_height",int_t, 0, "rect_height", 240,0, 240)
gen.add("judge_range1",int_t, 0, "judge_range1", 15,0, 100)
gen.add("judge_range2",int_t, 0, "judge_range2", 5,0, 100)
gen.add("judge_range3",int_t, 0, "judge_range3", 20,0, 100)
gen.add("area_threshold",int_t, 0, "area_threshold", 7343,1000, 100000)

gen.add("left1",int_t, 0, "left1", 41,0, 200)
gen.add("left2",int_t, 0, "left2", 160,0, 200)
gen.add("right1",int_t, 0, "right1", 40,0, 200)
gen.add("right2",int_t, 0, "right2", 120,0, 200)
gen.add("min_escape_distance",int_t, 0, "min_escape_distance", 15,0, 100)
gen.add("prior_y_threshold",int_t, 0, "prior_y_threshold", 10,0, 50)
gen.add("prior_point_num_threshold",int_t, 0, "prior_point_num_threshold", 5,0, 20)


exit(gen.generate(PACKAGE, "vision_node", "dynamic"))
